<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about ">
                <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                    <span class="sitename">NEW AVIA LOGISTIC</span>
                </a>
                <p>Мы предоставляем высококачественные логистические услуги, обеспечивая надежную и быструю доставку
                    ваших
                    товаров. Наши клиенты могут быть уверены в точности и безопасности всех перевозок.</p>
                <div class="social-links d-flex mt-4 pb-1">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

</footer>