{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">

            <img src="{% static 'assets/img/Group.svg' %}" alt="Logo">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'home' %}" class="active">Главная<br></a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <!-- <a class="btn-getstarted" href="">Get a Quote</a> -->

    </div>
</header>